#nav {
	border-right: solid 1px #393939;
}

.pageHeader {
	margin: -15px -15px 0;
	padding: 15px 30px;
	background-color: #41576d;
	border-bottom: solid 1px #303f4f;
	color: #fff;

	h3 {
		color: #fff;
	}

	.pull-right {
		margin-top: 13px;
		margin-right: -17px;
	}
}

.panel-full {
	.panel-full-header {
		background-color: #fafafa;
		padding: 0 15px;
		.nav-tabs {
			margin: 20px -15px -1px;
			padding: 0 15px;

			li {
				z-index: 10;
				&.active {
					a {
						background-color: #fff;
						border-bottom: solid 1px #fff;
					}
				}
			}
		}
	}

	margin: 0 -15px;
	border: 0;
}

.panel .table.datatable {
	tr {
		td, th {
			vertical-align: middle;
			padding: 10px 10px;
			font-size: 12px;
			&:first-child {
				padding-left: 30px;

				input[type="checkbox"] {
					width: auto;
					height: auto;
				}
			}
			&.editBtnsCell {
				padding-right: 30px;
				text-align: right;
			}

			.deleteItem {
				font-size: 18px;
				line-height: 0;
				color: @brand-danger;
				cursor: pointer;

				&:hover {
					color: @brand-danger - #333;
				}
			}
		}

		th {
			vertical-align: bottom;
		}

		&.theadFilters {
			input[type="text"] {
				width: 100%;
				margin: 15px 0 5px;;
			}
		}
	}
}

.tblFooter {
	.bulkActions {
		margin-top: 10px;
		margin-left: 15px;

		select {
			margin-right: 5px;
			min-width: 120px;
		}
	}
	
	.midCol {
		& > div {
			text-align: center;
		}

		.dataTables_info {
			padding-top: 0;
		}
	}

	.dataTables_paginate {
		.paginate_button, .paginate_active {
			padding: 3px 6px;
			font-size: 12px;
		}
		.paginate_button.first {
			border-radius: 2px 0 0 2px;
		}
		.paginate_button.last {
			border-radius: 0 2px 2px 0;
		}
	}
}

.progressOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

    background-color: #000;	
    background-color: rgba(30, 44, 56,0.88);

    z-index: 65000;

    .container {

		display: table;
		height: 100%;

		.progressWrapper {
			display: table-cell;
			vertical-align: middle;

			padding-bottom: 10%;

			width: 560px;
		    text-align: center;
			color: #fff;

		    .progressBack {
				padding: 70px 20px;
				border-radius: 5px;


				.progressIndicator {
					font-size: 56px;
					margin-bottom: 25px;
					text-shadow: -1px -1px 2px rgb(30, 44, 58);
				}

				.progressMsg {
					font-size: 30px;
					letter-spacing: -0.75px;	
					text-shadow: -1px -1px rgb(30, 44, 58);
					line-height: 1.3em;
				}

		   }			
		}
   }
}

#formContainer .progressOverlay {
	.container {
		width: 100%;
	}
}
