<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/listings/edit"><i class="fa fa-plus-circle"></i>&nbsp; Add Listing</a>
			</div>
			<h3 class="m-b-none">Listings</h3>
		</header>
		<section class="panel panel-default panel-full" id="allListings">
			<div class="table-responsive">
				<table class="table table-striped m-b-none datatable">
					<thead>
						<tr class="theadFilters">
							<td></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th width="7%" class="nosort"><input type="checkbox" /></th>
							<th width="62%">Name</th>
							<th width="12%" class="boolCol alignCenter">Published</th>
							<th width="7%" class="nosort"></th>
						</tr>
					</thead>
					<tbody>
					    
						<?php
							foreach ($this->listings as $listing) {
							    
								$row = '<tr data-id="' . $listing->getId() . '">';
								$row .= '<td><input type="checkbox" data-id="' . $listing->getId() . '" /></td>';
								$row .= '<td><a href="/admin/listings/edit/' . $listing->getId() . '">' . $listing->getHeading() . '</a></td>';
								$row .= '<td class="bool alignCenter">' . $listing->getPublished() . '</td>';
								$row .= '<td class="bool alignCenter"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/listings/' . $listing->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
</section>
<script>
	document.addEventListener("mmng:tablesReady", function() {
		var tbls = [];
		tbls.push(new mmng.Table("#allListings .datatable"));
	});
</script>
