#mmNotifyQueue {
	position: relative;
	left: 0;
	top: 0;
}

.mmNotification {
	background: #fff;
	/* margin-bottom: 15px; */
	margin: 7px;
	margin-bottom: 10px;
	width: 360px;
	box-shadow: 1px 1px 3px rgba(1,1,3, 0.1);

	cursor: pointer;
}

.mmNotification:last-child {
	margin-bottom: 7px;
	border: none;
}

.mmNotification header {
	padding: 8px 15px;
	font-weight: bold;
	font-size: 15px;
}

.mmNotification-body {
	padding: 10px 15px 15px;
	font-size: 13px;
	color: #555;
}

.mmnSuccess {
	background-color: #83ac22;
	color: #fff;
}

.mmnFail {
	background-color: #FA5542;
	color: #fff;
}

.mmNotifyDismiss {
	cursor: pointer;
}

.mmNotifyDismiss:hover {
	opacity: 0.8;
}