#mmNotifyQueue {
	position: relative;
	left: 0;
	top: 0;
}

.mmNotification {
	background: rgba(255, 255, 255, 0.85);
	margin-bottom: 15px;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.05);
	
	cursor: pointer;
}

.mmNotification header {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 15px;
}

.mmNotification-body {
	padding: 10px 10px 15px;
	font-size: 13px;
	color: #555;
}

.mmnSuccess {
	background-color: #83ac22;
	color: #fff;
}

.mmnFail {
	background-color: #FA5542;
	color: #fff;
}

.mmNotifyDismiss {
	cursor: pointer;
}

.mmNotifyDismiss:hover {
	opacity: 0.8;
}