<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/agents/edit-agency"><i class="fa fa-plus-circle"></i>&nbsp; Add Agency</a>
				<a class="btn btn-info newResourceBtn" href="/admin/agents/edit-agent"><i class="fa fa-plus-circle"></i>&nbsp; Add Agent</a>
			</div>
			<h3 class="m-b-none">Agents</h3>
		</header>
		<section class="panel panel-default panel-full tab-content">
			<header class="panel-full-header clearfix">
				<ul class="nav nav-tabs pull-right" role="tablist">
					<li class="active"><a href="#agent-table" role="tab" data-toggle="tab">Agents</a></li>
					<li><a href="#agency-table" role="tab" data-toggle="tab">Agencies</a></li>
				</ul>
			</header>
			<div class="tab-content">
				<div class="table-responsive tab-pane active" id="agent-table">
					<table class="table table-striped m-b-none datatable">
						<thead>
							<tr class="theadFilters">
								<td></td>
								<td><input type="text" /></td>
								<td><input type="text" /></td>
								<td></td>
							</tr>
							<tr>
								<th width="7%" class="nosort"><input type="checkbox" /></th>
								<th width="54%">Name</th>
								<th width="32%" class="boolCol alignCenter">Agency</th>
								<th width="7%" class="nosort"></th>
							</tr>
						</thead>
						<tbody>
							<?php
								foreach ($this->agents as $agent) {
									$row = '<tr data-id="' . $agent->getId() . '">';
									$row .= '<td><input type="checkbox" data-id="' . $agent->getId() . '" /></td>';
									$row .= '<td><a href="/admin/agents/edit-agent/' . $agent->getId() . '">' . $agent->getName() . '</a></td>';
									$row .= '<td class="bool alignCenter">' . $agent->getAgency()->getName() . '</td>';
									$row .= '<td class="bool alignCenter"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/agents/' . $agent->getId() . '"></i></td>';
									$row .= '</tr>';

									echo $row;
								}
							?>
						</tbody>
					</table>
				</div>
				<div class="table-responsive tab-pane" id="agency-table">
					<table class="table table-striped m-b-none datatable">
						<thead>
							<tr class="theadFilters">
								<td></td>
								<td><input type="text" /></td>
								<td></td>
							</tr>
							<tr>
								<th width="7%" class="nosort"><input type="checkbox" /></th>
								<th width="86%">Name</th>
								<th width="7%" class="nosort"></th>
							</tr>
						</thead>
						<tbody>
							<?php
								foreach ($this->agencies as $agency) {
									$row = '<tr data-id="' . $agency->getId() . '">';
									$row .= '<td><input type="checkbox" data-id="' . $agency->getId() . '" /></td>';
									$row .= '<td><a href="/admin/agents/edit-agency/' . $agency->getId() . '">' . $agency->getName() . '</a></td>';
									$row .= '<td class="bool alignCenter"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/agencies/' . $agency->getId() . '"></i></td>';
									$row .= '</tr>';

									echo $row;
								}
							?>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</section>
	<script>
		document.addEventListener("mmng:tablesReady", function() {
			var tbls = [];
			tbls.push(new mmng.Table("#agent-table .datatable"));
			tbls.push(new mmng.Table("#agency-table .datatable"));
		});
	</script>
</section>
	