<?php
	$sectionName = $this->value;
?>
<section id="<?php echo $this->id; ?>" class="dynamicContentAreaContainer panel panel-info">
	<header class="panel-heading">
		<div class="dynamicContentBtns pull-right">
			<!--
			Display Columns as:
			<div class="btn-group">
				<button class="btn btn-default btn-xs displayDynamicContentAs displayAsRows" data-display-type="row" type="button">Sub-Rows</button>
				<button class="btn btn-default btn-xs displayDynamicContentAs displayAsCols active" data-display-type="col" type="button">Columns</button>
			</div>
			-->
			<button class="btn btn-xs btn-default addRowBtn" type="button"><i class="fa fa-plus"></i>&nbsp; Add Row</button>
		</div>
		<span class="font-bold"><?php echo $sectionName; ?></span>
	</header>
	<div class="panel-body">
	</div>
</section>