<li class="imgItem">
	<div class="row">
	    <div class="col-sm-8">
			<div class="form-group"><label>Image</label>
				<div class="input-group"><input type="text" class="form-control" name="src" />
					<span class="input-group-btn"><button class="btn btn-default imageBrowseBtn" type="button">Browse</button></span>
				</div>
			</div>
			<div class="form-group"><label>Caption</label>
				<input type="text" class="form-control" name="caption" />
			</div>
			<div class="form-group">
				<label><input type="radio" class="imgMain" name="main">&nbsp; Main Image</label>
			</div>
			<div class="form-group"><button class="btn btn-xs btn-danger removeImageBtn">Remove</button></div>
		</div>
		<div class="col-sm-4 imgThumb"></div>
	</div>
</li>