<button class="btn btn-xs btn-danger removeImageBtn" type="button">Remove</button>
<ul class="nav nav-tabs tab-image-subforms" role="tablist">
	<li class="active tab-image-subform tab-item-viewType" data-view-type="image"><a href=".image-subform" role="tab" data-toggle="tab">Image</a></li>
	<li class="tab-video-subform tab-item-viewType" data-view-type="youtube"><a href=".video-subform" role="tab" data-toggle="tab">Youtube</a></li>
</ul>
<div class="tab-content clearfix">
	<div class="tab-pane active image-subform" data-view-type="image">
		<div class="col-sm-8">
			<div class="form-group"><label>Image</label>
				<div class="input-group"><input type="text" class="form-control imageSourceInput" data-item-property="image.source" data-for-viewType="image" />
					<span class="input-group-btn"><button class="btn btn-default imageBrowseBtn" type="button" data-for-property="image.source">Browse</button></span>
				</div>
			</div>
		</div>
		<div class="col-sm-4 imgThumb" data-thumb-for="image.source"></div>
	</div>
	<div class="tab-pane video-subform" data-view-type="youtube">
		<div class="col-sm-12">
			<!--
			<div class="form-group"><label>Source</label>
				<select class="form-control" name="video_source">
					<option value="youtube">Youtube</option>
					<option value="vimeo">Vimeo</option>
				</select>
			</div>
			-->
			<div class="form-group">
				<label>Youtube Link</label>
				<div class="input-group">
					<span class="input-group-addon">
						http://
					</span>
					<input type="text" class="form-control" data-item-property="youtube.source" data-for-viewType="youtube" />
				</div>
				<!-- <p class="help-block">Link where video appears, e.g. <strong><em>youtube.com/watch?v=J---aiyznGQ</em></strong> or <strong><em>vimeo.com/90687696</em></strong></p> -->
				<p class="help-block">Link where video appears, e.g. <strong><em>youtube.com/watch?v=J---aiyznGQ</em></strong></p>
			</div>
			<div class="row">
				<div class="form-group col-sm-9">
					<label>Preview Image</label>
					<div class="input-group">
						<input type="text" class="form-control displaySourceInput" data-item-property="youtube.displaySource" data-for-viewType="youtube" />
						<span class="input-group-btn"><button class="btn btn-default imageBrowseBtn" type="button" data-for-property="youtube.displaySource">Browse</button></span>
					</div>
					<p class="help-block">Preview image for gallery</p>
				</div>
				<div class="col-sm-3 imgThumb" data-thumb-for="youtube.displaySource"></div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" data-item-property="viewType" value="">
<div class="col-sm-12 m-t-sm">
	<div class="form-group">
		<label>Caption</label>
		<input type="text" class="form-control" data-item-property="caption" />
	</div>
</div>
<footer>
	<div class="form-group">
		<label><input type="radio" class="imgMain" data-item-property="main" name="mainMediaCollectionItem">&nbsp; Main Item</label>
	</div>
</footer>
