/*layout*/
@media (min-width: 768px) {

	.app{
		&,
		body{
			width:100%;
			height:100%;
			overflow: hidden;
		}
		.hbox{
			&.stretch{
				height:100%;
			}
		}
		.vbox{
			> section,
			> footer{
				position: absolute;
			}
			&.flex{
				> section{
					> section{
						overflow: auto;
					}
				}
			}
		}
	}

	.hbox{	
		display: table;
		table-layout: fixed;
		border-spacing: 0;
		width: 100%;
		> aside,
		> section{
			display: table-cell;
			vertical-align: top;
			height: 100%;
			padding: 0;
			float: none;
			&.show, 
			&.hidden-sm	{
				display: table-cell !important;
			}
		}
	}

	.vbox{
		display: table;
		border-spacing:0;
		position: relative;
		height: 100%;
		width: 100%;
		> section, 
		> footer {
			top: 0;
			bottom: 0;
			width: 100%;
		}
		> header{
			~ section {
				top: 50px;
			}
		}
		> section{
			&.w-f{
				bottom: 50px;
			}
		}
		> footer {
			top: auto;
			z-index: 1000;
			~ section {
				bottom: 50px;
			}
		}
		&.flex{
			> header,
			> section,
			> footer {
				position: inherit;
			}
			> section{
				display: table-row;
				height: 100%;
				> section {
					position: relative;
					height: 100%;
					-webkit-overflow-scrolling:touch;
					.ie & {
						display: table-cell;
					}
					> section {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}
			}
		}
	}
	
	.aside-xs{
		width: 48px;
	}
	.aside{
		width: 180px;
	}
	.aside-sm{
		width: 150px;
	}
	.aside-md{
		width: 220px;
	}
	.aside-lg{
		width: 250px;
	}
	.aside-xl{
		width: 300px;
	}
	.aside-xxl{
		width: 450px;
	}

	.scrollable{
		-webkit-overflow-scrolling:touch;
	}
}
.hbox > aside, 
.hbox > section{
	padding: 0 !important;
}
.header, 
.footer{
	min-height: 50px;
	padding: 0 15px;
	> p{
		margin-top: 15px;
		display: inline-block;
	}
	> .btn,
	> .btn-group,
	> .btn-toolbar,
	{
		margin-top: 10px;
	}
	> .btn-lg{
		margin-top: 0;
	}
	.nav-tabs {
		border: none;
		margin-left: -15px;
		margin-right: -15px;	
		> li {
			a{
				border: none !important;
				border-radius: 0;
				padding-top: 15px;
				padding-bottom: 15px;
				line-height: 20px;
				&:hover, 
				&:focus
				{
					background-color: transparent;
				}
			}
			&.active a{
				color: @text-color;
				&,
				&:hover{
					background-color: @body-bg;
				}
			}
		}
		&.nav-white{
			> li.active a{
				&,
				&:hover{
					background-color: #fff;
				}
			}
		}
	}
	&.navbar{
		min-height: 0;
		border-radius: 0;
		border: none;
		margin-bottom: 0;
		padding:0;
	}
}

.scrollable{
	overflow-x: hidden;
	overflow-y: auto;
}

.no-touch {
	.scrollable.hover {
		overflow-y: hidden;
		&:hover
		{
			overflow: visible;
			overflow-y: auto;
		}
	}
}

#content {
	background-color: @body-bg;
}

#contentMenu {
	.dd-handle {
                padding: 10px 15px;
        }
	.edit {
		float: right;
		
		span {
			margin-left: 15px;
		}		
	}
}

#fixedTitle {

	position: relative;
	border-bottom: solid 1px @border-color;
	padding: 20px;
	background-color: @brand-light;

	h3 {
		margin: 0;
		padding: 0;
		letter-spacing: -0.2px;
	}

	.btn { 
		position: absolute; 
		right: 20px; top: 16px; 
		border: solid 1px @brand-primary + #000; 
		.box-shadow(0 1px 1px rgba(90,90,90,0.2)); 
	}

	p { 
		position: absolute; 
		right: 150px; 
		top: 24px; 
		text-align: right; 
		font-style: italic; 
		span {
			font-style: normal;
		}
	}

}

#editContent {
	.vbox {
		> section {
			padding-top: 20px;
		}
	}
}

.dd-dragel {
	.edit {
		display: none;
	}
}

@media print {
  html, body, .hbox, .vbox{
    height: auto;
  }
  .vbox{
		> section,
		> footer{
			position: relative;
		}
	}
}

.slimScrollBar{
	border-radius: 0 !important;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {	
	background-color:rgba(50,50,50,0.3);
}
::-webkit-scrollbar-thumb:hover{
	background-color:rgba(50,50,50,0.6);
}
::-webkit-scrollbar-track {
	background-color:rgba(50,50,50,0.1);
}
::-webkit-scrollbar-track:hover{
	background-color:rgba(50,50,50,0.2);
}
