<!DOCTYPE html>
<html lang="en" class="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<?php echo $this->headTitle()."\r\n"; ?>
	<?php echo $this->headMeta()."\r\n"; ?>
	<?php echo $this->headLink()."\r\n"; ?>
	
	<script>
		// ie custom event polyfill
		(function () {
			function CustomEvent ( event, params ) {
				params = params || { bubbles: false, cancelable: false, detail: undefined };
				var evt = document.createEvent( 'CustomEvent' );
				evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
				return evt;
			};

			CustomEvent.prototype = window.Event.prototype;

			window.CustomEvent = CustomEvent;
		})();
 	</script>
	
	<script src="/js/admin/mmng.js" type="text/javascript"></script>
</head>
<body>
	<section class="vbox">
		<?php echo $this->render('admin/header.phtml'); ?>
		<section>
    		<section class="hbox stretch">
      			<?php $this->navigation()->menu()->setPartial(array('admin/navigation.phtml', 'admin')); ?>
	  			<?php echo $this->navigation()->menu()->render(); ?>
      			<section id="content">
					<?php echo $this->layout()->content; ?>
					<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
      			</section>
    		</section>
		</section>
	
	</section>
	
	<section id="mmNotifyArea" style="position: absolute; bottom: 15px; right: 15px; background-color: rgba(0, 0, 0, 0.65); border-radius: 3px; z-index:20;">
	</section>
	
	<?= $this->headScript(); ?>
	
	<script>
		if (typeof mmng !== 'undefined') {
			mmng.websiteName = '<?= Zend_Registry::get('config')->settings->websitename; ?>';
			mmng.conf.tinymce = <?= $this->tinymceConf(); ?>;
			mmng.initMmng();
		}

		mmng.setActiveUser(<?php echo json_encode(array_intersect_key((array) $this->identity, array_flip(array('id', 'username', 'role')))); ?>);
		//mmng._activeUser.role = 'admin';
	</script>
	
	<!-- modal popup for img -->
	<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3 class="modal-title"></h3>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	
	<div class="progressOverlay" style="display:none">
		<div class="container">
			<div class="progressWrapper">
				<div class="progressBack">
					<i class="fa fa-rotate-right progressIndicator fa-spin"></i>
					<div class="progressMsg"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>