<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<?php echo $this->headTitle()."\r\n"; ?>
<?php echo $this->headMeta()."\r\n"; ?>
<?php echo $this->headLink()."\r\n"; ?>
<link rel="shortcut icon" href="/favicon.ico" type="" />
<?php echo $this->headScript()."\r\n"; ?>
</head>
<body>
	<?php echo $this->inlineScript()."\r\n"; ?>
    <?php echo $this->layout()->content ?>
</body>
</html>