<!DOCTYPE html>
<html lang="en" class="app admin-editor">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<?php echo $this->headTitle()."\r\n"; ?>
	<?php echo $this->headLink()."\r\n"; ?>
	
	<script>
		// ie custom event polyfill
		(function () {
			function CustomEvent ( event, params ) {
				params = params || { bubbles: false, cancelable: false, detail: undefined };
				var evt = document.createEvent( 'CustomEvent' );
				evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
				return evt;
			};

			CustomEvent.prototype = window.Event.prototype;

			window.CustomEvent = CustomEvent;
		})();
 	</script>
	
	<script src="/js/admin/mmng.js" type="text/javascript"></script>
</head>
<body class="admin-editor">
	<?php echo $this->layout()->content; ?>
	<?php echo $this->headScript(); ?>
</body>
</html>