<header class="bg-dark dk header navbar navbar-fixed-top-xs">
    <div class="navbar-header aside-md">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
        </a>
        <a href="/admin" class="navbar-brand" data-toggle="">MediaManage</a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
            <i class="fa fa-cog"></i>
        </a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
        <li>
            <a href="<?php echo Zend_Registry::get('config')->settings->websitefullurl; ?>" class="dker" target="_blank">
				<span class="font-bold">Visit Site</span>
				<i class="fa fa-external-link"></i> 
            </a>
        </li>
        <li>
        	<button type="button" class="fileManagerBtn btn btn-primary btn-xs m-l m-t"><i class="fa fa-picture-o"></i>&nbsp; File Manager</button>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs nav-user">
        <!--<li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle dker" data-toggle="dropdown"><i class="fa fa-fw fa-search"></i></a>
            <section class="dropdown-menu aside-xl animated fadeInUp">
            	<section class="panel bg-white">
                	<form role="search">
                		<div class="form-group wrapper m-b-none">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-info btn-icon">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
                		</div>
              		</form>
                </section>
            </section>
        </li>-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            	<!-- 
            	<span class="thumb-sm avatar pull-left">
              		<img src="/uploaded/avatars/<?php //echo $this->identity->avatar; ?>">
            	</span>
            	 -->
            	<?php echo $this->identity->firstName . " " . $this->identity->lastName; ?> <b class="caret"></b>
          	</a>
            <ul class="dropdown-menu animated fadeInRight">
	            <span class="arrow top"></span>
				<?php 
					if ($um = Zend_Registry::get("config")->settings->userManual) {
						echo '<li><a href="http://' . $um . '" target="_blank">View User Manual</a></li>';
					}
				?>
	            <li><a href="/admin/login/logout">Logout</a></li>
            </ul>
        </li>
    </ul>      
</header>