<?php // Zend_Debug::dump($this->navigation()); die; ?>

<!DOCTYPE html>
<html lang="en" class="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<?php echo $this->headTitle()."\r\n"; ?>
	<?php echo $this->headMeta()."\r\n"; ?>
	<?php echo $this->headLink()."\r\n"; ?>
</head>
<body>
	<?php echo $this->layout()->content; ?>
    <?php echo $this->headScript(); ?>
</body>
</html>