<!-- .aside -->
<aside class="bg-black lter aside-md hidden-print" id="nav">          
    <section class="main-navigation vbox">
        <div class="scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
	            <!-- nav -->
	            <nav class="nav-primary hidden-xs">
	            	<ul class="nav">
						<li>
							<a href="/admin/pages"><i class="fa fa-file-text"><b class="bg-primary"></b></i><span>Pages</span></a>
						</li>
						<li>
							<a href="/admin/posts"><i class="fa fa-fighter-jet"><b class="bg-primary"></b></i><span>Posts</span></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-group"><b class="bg-primary"></b></i><span>Users</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<footer class="footer lt hidden-xs b-t b-black">
	              <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-black btn-icon">
	                	<i class="fa fa-angle-left text"></i>
	                	<i class="fa fa-angle-right text-active"></i>
	              </a>
	    </footer>
	</section>
	
</aside>