<!-- .aside -->
<aside class="bg-black lter aside-md hidden-print" id="nav">   
    <section class="vbox">
        <section class="w-f scrollable">
	            <!-- nav -->
	            <nav class="nav-primary hidden-xs">
	            	<ul class="nav">
						<?php
							$html = "";
							foreach ($this->container as $page)
							{
								if ($this->menu()->accept($page)) {
									if (!empty($page->pages)) {
								    	$htmlNested = '<span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span></a>';
								        $htmlNested .= '<ul class="nav lt">';
								        
								    	foreach ($page->pages as $subpage) {
								        	if ($this->menu()->accept($subpage)) {
								    	  		$htmlNested .= ($subpage->isActive(true)) ? '<li class="active">' : '<li>';
								    	  		$htmlNested .= '<a href="' . $subpage->getHref() . '" ><i class="fa fa-angle-right"></i><span>' . $subpage->getLabel() . '</span></a></li>';
									      	}
								        }
								        $htmlNested .= "</ul>";
								    } else {
								    	$htmlNested = '</a>';
								    }
								
								    $html .= ($page->isActive(true)) ? '<li class="active">' : '<li>';
								    $html .= '<a href="' . $page->getHref() . '"><i class="fa ' . $page->icon . ' icon"><b class="bg-primary"></b></i><span>' . $page->getLabel() . '</span>';
								    $html .= $htmlNested;
								    $html .= "</li>";
								}
							}
							
							echo $html;
						?>
					</ul>
				</nav>
			
		</section>
		<footer class="footer lt b-t b-dark">
			<a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
				  <i class="fa fa-angle-left text"></i>
				  <i class="fa fa-angle-right text-active"></i>
			</a>
	    </footer>
	</section>
	
</aside>