<section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
  	<div class="container aside-xxl">
   		<a class="navbar-brand block" href="index.html"><?php echo Zend_Registry::get('config')->settings->websitename; ?></a>
   		<section id="sign-in" class="panel panel-default bg-white m-t-lg">
       		<header class="panel-heading text-center">
       			<strong>Sign in</strong>
       		</header>
      		<?php echo $this->message; ?> 
     		<?php echo $this->loginForm; ?>
   		</section>
  	</div>
</section>