<section class="vbox">
	<header class="header b-b b-light bg-white formContainerHeader">
		<div class="btn-group pull-right saveBtns">
			<button class="btn btn-primary">Save</button>
		</div>
		<h3 class="formTypeHeading"><?= ucwords($this->form->getAttrib("data-resource-alias")) ?: "Resource Form"; ?></h3>
	</header>
	<section class="scrollable formContainerBody padder">
		<?php 
			// data- attributes	

			$attribs = $this->form->getAttribs();
			$attribKeys = array_filter(array_keys($this->form->getAttribs()), function($key) {
				return preg_match('/^data\-/', $key);
			});

			$attribs = array_reduce($attribKeys, function($out, $key) use ($attribs) {
				return $out . ' ' . $key . '="' . $attribs[$key] . '"';
			}, '');			

			echo '<form class="panel panel-default resourceForm"' . $attribs . ' data-init-on-ready="' . $this->initOnReady . '">';
		?>
			<header class="panel-heading bg-light resourceFormHeader">
				<ul class="nav nav-tabs pull-right">
					<?php
						echo array_reduce($this->form->getSubForms(), function($tab, $subForm) {
							$icon = $subForm->getAttrib('icon') ? '<i class="fa ' . $subForm->getAttrib('icon') . '"></i>' : null;
							$activeClass = array_keys($this->form->getSubForms())[0] === $subForm->getAttrib('name') ? 'active' : null;

							$label = $subForm->getAttrib('alias') ? $subForm->getAttrib('alias') : $subForm->getAttrib('name');

							return $tab . '<li class="' . $activeClass . '"><a href="#resource-form-' . $subForm->getAttrib('name') . '" data-toggle="tab">' . $icon . ' ' . ucFirst($label) . '</a></li>';
						}, '');
					?>
				</ul>
				<span class="clearfix"></span>
			</header>
			<div class="panel-body">
				<div class="tab-content">
					<?php 
						echo array_reduce($this->form->getSubForms(), function($tab, $subForm) {
							$activeClass = array_keys($this->form->getSubForms())[0] === $subForm->getAttrib('name') ? ' active' : null;
							echo '<div class="tab-pane' . $activeClass . '" id="resource-form-' . $subForm->getAttrib('name') . '">' . $subForm->render() . '</div>';
						}, '');
					?>
				</div>
				<?php $this->form->renderMeta(); ?>
			</div>
		</form>
	</section>
</section>
<?php if ($this->appendScripts): ?>
	<script>

		// Chrome seems to be blocking scripts with src tags when loaded by ajax...
		// Appending scripts programatically to get around this.

		var scripts = <?php echo '["' . implode('", "', $this->form->getAttrib('scripts')) . '"]'; ?>,
			totalScripts = scripts.length,
			frag;
console.log(JSON.stringify(scripts));
		function scriptFrag(src, onload_callback, frag)
		{
			if (typeof frag === "undefined" || !frag) {
				frag = document.createDocumentFragment();
			}
			
			var scr = document.createElement('script');

			scr.onload = onload_callback;
		
			scr.type = 'text/javascript';
			scr.src = src;

			var attr = document.createAttribute('data-resource-form-script');
			attr.value = 'data-resource-form-script';

			scr.setAttributeNode(attr);
			
			frag.appendChild(scr);
			return frag;
		}
		
		// generating document fragment to handle scripts with
		// load functionality either synchronously or asynchonously
		
		<?php if ($this->form->getAttrib("data-load-scripts-synchronously") === true): ?>

			// queue
			var current_script = scripts.shift();
			var scripts;
//			frag = document.createDocumentFragment();
			
			var that = this;
			
			function recurseLoad(src)
			{
				if (src) {
					current_script = scripts.shift();
					document.body.appendChild(scriptFrag(src, function() {
						recurseLoad(current_script);
					}));
				} else {
					document.dispatchEvent(new CustomEvent("mmng:formScriptsDidLoad"));
				}
			}
			
			recurseLoad(current_script);
			
		<?php else: ?>

			frag = scripts.reduce(function(frag, src) {
				
				return scriptFrag(src, function() {
					totalScripts--;
					if (totalScripts === 0) {
						document.dispatchEvent(new CustomEvent("mmng:formScriptsDidLoad"));
					}
				}, frag);
				
				/*
				var scr = document.createElement('script');
				scr.type = 'text/javascript';
				scr.src = src;

				scr.onload = function() {
					totalScripts--;
					if (totalScripts === 0) {
						document.dispatchEvent(new CustomEvent("mmng:formScriptsDidLoad"));
					}
				};

				var attr = document.createAttribute('data-resource-form-script');
				attr.value = 'data-resource-form-script';

				scr.setAttributeNode(attr);

				frag.appendChild(scr);
				return frag;
				*/
			}, document.createDocumentFragment());
			document.body.appendChild(frag);

		<?php endif; ?>


	</script>
<?php endif; ?>
