<section class="vbox">
	<?php echo $this->markupResourceForm($this->form); ?>
</section>
<script>
	mmng.getCurrentPage().model.slides = <?php echo $this->slides; ?>;

	document.addEventListener('mmng:formDidSet', function() {
		mmng.getCurrentPage().form.init();
	});
</script>