<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
			<!--	<a class="btn btn-info newResourceBtn" href="/admin/news/edit"><i class="fa fa-plus-circle"></i>&nbsp; New Post</a> -->
			</div>
			<h3 class="m-b-none">Slideshows</h3>
		</header>
		<section class="panel panel-default panel-full">
			<!--
			<header class="panel-heading">
				<i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
			</header>
			-->
			<div class="table-responsive">
				<div class="hide" id="resourceType">forums</div>
				<table class="table table-striped m-b-none datatable" id="allForums">
					<thead>
						<tr class="theadFilters">
							<td><input type="text" /></td>
						</tr>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->slideshows as $slideshow) {
								$row = '<tr data-id="' . $slideshow->getId() . '">';
								$row .= '<td><a href="/admin/slideshows/edit/' . $slideshow->getId() . '">' . $slideshow->getName() . '</a></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
</section>