<section class="hbox stretch">
	<aside id="treeMenu" class="aside-xl bg-light">
		<section class="vbox">
			<header class="treeMenuHeader b-b dker">
				<input type="text" class="form-control pageFilterInput" placeholder="Quick search" />
				<div class="btn-group newPageBtnGrp">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						New <span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a href="#" data-object-key="static-page">Static Page</a></li>
						<li><a href="#" data-object-key="freeform-page">Freeform Page</a></li>
						<li><a href="#" data-object-key="link">Link</a></li>
						<li><a href="#" data-object-key="menu">Menu</a></li>
						<li><a href="#" data-object-key="folder">Folder</a></li>
					</ul>
				</div>	
			</header>
			<section class="treeMenuBody scrollable">
			</section>
		</section>
	</aside>
	<section id="formContainer">
		<?php
			if ($this->form) {
				echo $this->partial("partials/form.phtml", ["form" => $this->form, "initOnReady" => true]);
			}
		?>
	</section>
</section>
<script>
	mmng.getCurrentPage().model.tree = <?php echo json_encode($this->tree, JSON_UNESCAPED_SLASHES); ?>;
	mmng.getCurrentPage().model.treeObjects = <?php echo $this->treeObjects; ?>;
</script>