<section class="vbox">
	<?php echo $this->markupResourceForm($this->form); ?>
</section>
<script>
	document.addEventListener('mmng:formDidSet', function() {
		mmng.getCurrentPage().form.init();
	});
</script>