<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/fragments/edit"><i class="fa fa-plus-circle"></i>&nbsp; New Fragment</a>
			</div>
			<h3 class="m-b-none">Fragments</h3>
		</header>
		<section class="panel panel-default panel-full">
			<div class="table-responsive">
				<div class="hide" id="resourceType">forums</div>
				<table class="table table-striped m-b-none datatable" id="allForums">
					<thead>
						<tr class="theadFilters">
							<td></td>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th width="7%" class="nosort"><input type="checkbox" /></th>
							<th width="74%">Label</th>
							<th width="7%" class="nosort editBtnsCell"></th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->fragments as $fragment) {
								$row = '<tr data-id="' . $fragment->getId() . '">';
								$row .= '<td><input type="checkbox" data-id="' . $fragment->getId() . '" /></td>';
								$row .= '<td><a href="/admin/fragments/edit/' . $fragment->getId() . '">' . $fragment->getInternalLabel() . '</a></td>';
								$row .= '<td class="bool alignCenter"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/fragments/' . $fragment->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
</section>