<header class="header b-b b-light bg-white editPageHeader">
	<div class="btn-group pull-right saveBtns">
		<?php
			if ($this->form->getCreatedDate()) {
				echo '<button class="btn btn-primary" id="savePublish">Update</button>';
			} else {
				echo '<button class="btn btn-default" id="saveDraft" data-overwrite-draft="1">Save As Draft</button>';
				echo '<button class="btn btn-primary" id="savePublish" data-overwrite-publish="1">Publish</button>';						
			}
		?>
	</div>
	<h1 class="pageTitle"><?php echo ($this->form->getLastModified()) ? 'Edit Freeform Page' : 'Add Freeform Page'; ?></h1>
</header>
<section class="scrollable editPageContent">
	<?php echo $this->form->render(); ?>
</section>

<script>
	if (typeof window.mmng !== 'undefined') {

	} else {
		var resource = {
			type: 'freeform-page',
			alias: 'Freeform Page',
			endpoint: '/ajax/api/freeform-pages/'
		};
	}
</script>