<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/galleries/edit"><i class="fa fa-plus-circle"></i>&nbsp; New Gallery</a>
			</div>
			<h3 class="m-b-none">Galleries</h3>
		</header>
		<section class="panel panel-default panel-full" id="allGalleries">
			<!--
			<header class="panel-heading">
				<i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
			</header>
			-->
			<div class="table-responsive">
				<table class="table table-striped m-b-none datatable" id="allForums">
					<thead>
						<tr class="theadFilters">
							<td><input type="text" /></td>
							<?= $this->hasCategories ? '<td><input type="text" /></td>' : ''; ?>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th>Name</th>
							<?= $this->hasCategories ? '<th>Categories</th>' : ''; ?>
							<th width="12%" class="boolCol alignCenter">Published</th>
							<th width="7%" class="nosort editBtnsCell"></th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->galleries as $gallery) {
								$row = '<tr data-id="' . $gallery->getId() . '">';

								$lbl = $gallery->getInternalLabel() ?: $gallery->getHeading();
								$row .= '<td><a href="/admin/galleries/edit/' . $gallery->getId() . '">' . $lbl . '</a></td>';

								if ($this->hasCategories) {
									if ($gallery->getCategories()) {
										$categories = array_map(function($category) {
											return $category->getLabel();
										}, $gallery->getCategories());
										$categories = implode(", ", $categories);
									} else {
										$categories = "";
									}

									$row .= '<td class="bool">' . $categories . '</td>';
								}

								$row .= '<td class="bool alignCenter">' . $gallery->getPublished() . '</td>';
								$row .= '<td class="bool alignCenter"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/galleries/' . $gallery->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
	<script>
		document.addEventListener("mmng:tablesReady", function() {
			var tbls = [];
			tbls.push(new mmng.Table("#allGalleries .datatable"));
		});
	</script>
</section>