<section class="vbox">
	<?php echo $this->markupResourceForm($this->form); ?>
</section>
<script>
	document.addEventListener('mmng:formDidSet', function() {
		mmng.getCurrentPage().form.init();
	});
</script>
<style>.selected > ul.selected, .available > ul.available {height:500px !important;}</style>