<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/news/edit"><i class="fa fa-plus-circle"></i>&nbsp; New Post</a>
			</div>
			<h3 class="m-b-none">Posts</h3>
		</header>
		<section class="panel panel-default panel-full" id="allNews">
			<!--
			<header class="panel-heading">
				<i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
			</header>
			-->
			<div class="table-responsive">
				<table class="table table-striped m-b-none datatable">
					<thead>
						<tr class="theadFilters">
							<td></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th width="7%" class="nosort"><input type="checkbox" /></th>
							<th width="42%">Name</th>
							<th width="20%" class="boolCol">Categories</th>
							<th width="12%" class="boolCol alignCenter">Published</th>
							<th width="12%" class="boolCol alignCenter">Hidden</th>
							<th width="7%" class="nosort editBtnsCell"></th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->posts as $post) {
								$row = '<tr data-id="' . $post->getId() . '">';
								$row .= '<td><input type="checkbox" data-id="' . $post->getId() . '" /></td>';
								$row .= '<td><a href="/admin/news/edit/' . $post->getId() . '">' . $post->getHeading() . '</a></td>';
								if ($post->getCategories()) {
									$categories = array_map(function($category) {
										return $category->getName();
									}, $post->getCategories());
									$categories = implode(", ", $categories);
								} else {
									$categories = "";
								}

								$row .= '<td class="bool">' . $categories . '</td>';
								$row .= '<td class="bool alignCenter">' . $post->getPublished() . '</td>';
								$row .= '<td class="bool alignCenter">' . $post->getHidden() . '</td>';
								$row .= '<td class="bool alignCenter editBtnsCell"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/news/' . $post->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
</section>
<script>
	document.addEventListener("mmng:tablesReady", function() {
		var tbls = [];
		tbls.push(new mmng.Table("#allNews .datatable"));
	});
</script>