@charset "UTF-8";
/* CSS Document - text and image formating for within tinyMCE */

.img-left {
	float:left;
	margin:0 20px 20px 0; 
}
.img-right {
	float:right;
	margin:0 0 20px 20px; 
}

html {
	height: 100%;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
