<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/users/edit"><i class="fa fa-plus-circle"></i>&nbsp; New User</a>
			</div>
			<h3 class="m-b-none">Users</h3>
		</header>
		<section class="panel panel-default panel-full" id="userTable">
			<!--
			<header class="panel-heading">
				<i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
			</header>
			-->
			<div class="table-responsive">
				<table class="table table-striped m-b-none datatable">
					<thead>
						<tr class="theadFilters">
							<td></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th width="7%" class="nosort"><input type="checkbox" /></th>
							<th>Username</th>
							<th>Name</th>
							<th>Email</th>
							<th>Role</th>
							<th width="7%" class="nosort editBtnsCell"></th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->users as $user) {
								$row = '<tr data-id="' . $user->getId() . '">';
								$row .= '<td><input type="checkbox" data-id="' . $user->getId() . '" /></td>';
								$row .= '<td><a href="/admin/users/edit/' . $user->getId() . '">' . $user->getUsername() . '</a></td>';
								$row .= '<td>' . $user->getFirstName() . ' ' . $user->getLastName() . '</td>';
								$row .= '<td>' . $user->getEmail() . '</td>';
								$row .= '<td>' . $user->getRole() . '</td>';
								$row .= '<td class="bool alignCenter editBtnsCell"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/users/' . $user->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
</section>
<script>
	document.addEventListener("mmng:tablesReady", function() {
		var tbls = [];
		tbls.push(new mmng.Table("#userTable .datatable"));
	});
</script>