.panel-body {
	.minicolors-theme-default.minicolors, .minicolors-theme-default .minicolors-input {
		display: block;
		width: 100%;
		height: 33px;
	}
	.minicolors-theme-default.minicolors {
		padding-left: 34px;
	}
	.minicolors-theme-default .minicolors-input {
		padding-left: 8px;
	}
	.minicolors-theme-default .minicolors-swatch {
		height: 23px;
		width: 23px;
	}
}