.formOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #222;
	background-color: rgba(0,0,0,0.7);
}


.formContainerHeader {
	border-bottom: solid 1px #eaeaea;

	.saveBtns {
		margin-top: 8px;
	}
	
	h3 {
		margin-top: 0;
		padding-top: 24px;
		line-height: 0;
	}
}

.formContainerBody {
	padding-top: 15px;
	background-color: rgb(247, 247, 247);

	.input-group-btn {
		vertical-align: top;
	}

	.resourceForm {
		border: 0;
		border-bottom: solid 1px #eaeaea;
		margin: -15px;

		.resourceFormHeader {
			border-bottom: solid 1px #eaeaea;
			padding-top: 25px;
			background-color: #f7f7f7;

			ul.nav-tabs {
				li.active {
					border: solid 1px #eaeaea;
					border-bottom: solid 1px #fff;
					margin-bottom: 0;
				}

				li {
					a {
						i {
							margin-right: 2px;
						}
					}
				}
			}
		}

		select[multiple] {
			min-height: 240px;
		}

		.brand-category-multiselect {
			height: 160px;
		}

		.form-group {
			& > .ui-multiselect {
				width: 100% !important;
				border-color: #ddd;

			   & > div {
					width: 50% !important;
					border-color: #ddd;

					li {
						font-size: 13px;
						height: 30px;
						padding: 5px 25px;
						cursor: pointer;

						a {
							top: 5px;
							right: 5px;
						}
					}

					input {
						margin-left: 25px;
						width: 40%;
						font-size: 12px;
						height: 20px;
					}
			   }
			}
		}
                
                .panel-body {
                    .minicolors-theme-default.minicolors.minicolors-position-right {
                        padding-left: 0;
                        
                        .form-control.minicolors.minicolors-input {
                            padding-left: 10px;
                        }
                        
                        .minicolors-swatch-color {
                            cursor: pointer;
                        }
                    }
                }

		.variableContent {

			.form-group {

				padding: 15px 15px;
				margin: 15px -15px;

				div.mce-tinymce {
					&:last-child {
						margin-bottom: 0;
					}
				}

				&:first-child {
					margin-top: -15px;
				}

				&:nth-child(even) {
					border-top: solid 1px #eee;
					border-bottom: solid 1px #eee;
					background-color: #fafafa;
					padding-bottom: 30px;
				}

				&:last-child {
					margin-bottom: -15px;
				}

				.dynamicContentAreaContainer {
					border: none;
					margin-bottom: 0;

					& > .panel-heading {
						font-size: 16px;
						background-color: #4C4F53;
						color: #fff;
						border-color: #3b3f44;
					}

					& > .panel-body {
						padding: 0;
						border: solid 1px #eaeaea;
					}

					.row.dynamicContentRow {
						margin: 10px;
						background-color: #fafafa;
						padding: 0 12px;

						.dynamicContentRowHeader {
							background-color: #444;
							padding: 7px 15px;
							margin: 0 -12px 10px;
							color: #fff;

							&:hover {
								cursor: pointer;
							}

							i {
								font-size: 18px;
								vertical-align: middle;
							}

							.btn {
								color: #fff;
								border: solid 1px #999;
								background: transparent;
								padding: 2px 6px;
								margin-left: 5px;

								&:hover {
									background-color: #494949;
								}
							}
						}

						.col-sm-12, .col-sm-6, .col-sm-4, .col-sm-3 {
							padding: 0 3px;
						}

						.dynamicContentArea {
							position: relative;
							margin-bottom: 10px;
							padding: 10px;
							background-color: #fff;
							border-radius: 2px;
							border: solid 1px #f2f2f2;
							max-height: 200px;
							overflow: hidden;

							h1, h2, h3, h4, h5, h6 {
								line-height: 1.2em;
							}

							.dynamicContentAreaBtns {
								position: absolute;
								top: 10px;
								right: 10px;
								display: none;

								.editDynamicColBtn {
									i {
										margin-right: 3px;
									}
								}
							}
							
							&:hover {
								cursor: pointer;
								.dynamicContentAreaBtns {
									display: block;
								}
							}
						}

						&:hover {
							background-color: #f3f3f3;

							.dynamicContentRowHeader {
								background-color: #393939;
							}
						}
					}
				}
			}
		}

		.link-types {
			padding: 10px;
			border: dashed 1px #ddd;
			padding-bottom: 0;

			.link-type-header {
				&:hover {
					cursor: pointer;
				}
				input[type="radio"] {
					display: inline-block;
					margin-right: 10px;
					cursor: pointer;
				}
			}
			
			.select2-container.pageId {
				width: 100%;
			}
		}

		.slideshowName {
			margin: -10px 0 0;
		}

		#fieldset-slides {
			padding: 0 15px;
		}

		.slidesContainer {
			cursor: pointer;
			margin: 0 -15px 20px;
			
			.slide.row {
				margin: -1px -15px 0;
				padding: 20px 15px;

				background-color: #fff;
				border-top: solid 1px #eee;
				border-bottom: solid 1px #eee;

				&:hover {
					background-color: #fdfdfd;
				}
				&:nth-child(even) {
					border-top: solid 1px #eee;
					border-bottom: solid 1px #eee;
					background-color: #fafafa;
					padding-bottom: 30px;

					&:hover {
						background-color: #f7f7f7;
					}
				}
			}
		}

	}

	.panel-images-form {
		.panel-body {
			padding: 0 15px;

			& > .form-group {
				margin: 0 -15px;

				.imagesArea {
					padding: 0 15px;
					margin: -1px;
					list-style: none;
					cursor: pointer;

					.imgItem {
						margin: -1px -15px 0;
						padding: 20px 30px;

						background-color: #fff;
						border: solid 1px #ddd;

						&:hover {
							background-color: #fdfdfd;

						}
						&:nth-child(even) {
							//background-color: #fafafa;
							//padding-bottom: 30px;

							&:hover {
								//background-color: #f7f7f7;
							}
						}

						.removeImageBtn {
							//float: right;
							//margin-right: 15px;
							//margin-top: 15px;
						}

						.nav-tabs {
							padding: 15px 15px 0;

							li {
								a {
								}
							}
						}

						.tab-content {
							padding: 15px 0;
							background-color: #f7f7f7;
						}

						footer {
							border-top: solid 1px #eee;
							padding: 15px;

							> div {
								display: inline-block;
								margin-right: 50px;
							}
						}

						.imgThumb {
							.imgContainer {
								background-size: cover;
								height: 160px;		
							}
						}
					}

					.sortable-placeholder {
						height: 200px;
						margin: 20px -40px;
						background-color: rgba(140,210,250,0.15);
						border: 0;
					}
				}
			}
		
			.imagesAreaFooter {
				border-top: solid 1px #e6e6e6;
				padding: 15px;
			}
		}
	}
}

.imagesArea {
	padding: 0 15px;
	margin: -1px;
	list-style: none;
	cursor: pointer;

	.mediaCollectionItem {
		margin: -1px -15px 0;
		//padding: 20px 30px;

		background-color: #fff;
		border: solid 1px #ddd;

		&:hover {
			background-color: #fdfdfd;

		}
		&:nth-child(even) {
			//background-color: #fafafa;
			//padding-bottom: 30px;

			&:hover {
				//background-color: #f7f7f7;
			}
		}

		.removeImageBtn {
			float: right;
			margin-right: 15px;
			margin-top: 15px;
		}

		.nav-tabs {
			padding: 15px 15px 0;

			li {
				a {
				}
			}
		}

		.tab-content {
			padding: 15px 0;
			background-color: #f7f7f7;
		}

		footer {
			border-top: solid 1px #eee;
			padding: 15px;

			> div {
				display: inline-block;
				margin-right: 50px;
			}
		}

		.imgThumb {
			.imgContainer {
				background-size: cover;
				height: 160px;		
			}
		}
	}

	.sortable-placeholder {
		height: 200px;
		margin: 20px -40px;
		background-color: rgba(140,210,250,0.15);
		border: 0;
	}
}

.mce-i-mapIcon {
	&:before {
		content: url('/images/admin/mapIcon-sm.png');
	}
}

.mce-i-shortcodeIcon:before {
    content: url('/images/admin/shortcodeIcon-sm.png');
}

.wysiwygOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(30, 44, 56, 0.88);
	z-index: 1000;
	padding: 40px;

	.wysiwygOverlayHeader {
		color: #fff;

		.btn {
			margin-left: 5px;
		}

		.wysiwygOverlayStrap {
			font-size: 16px;
			font-style: italic;
			text-align: center;
			border-top: solid 1px rgba(255,255,255,0.4);
			border-bottom: solid 1px rgba(255,255,255,0.4);
			padding: 5px;
			margin: 30px 0 60px;
		}

	}

	.mce-tinymce {
		border-top: solid 3px rgba(0,0,0,0.5);
	}
}

.media-collection-popover {
	position: absolute;
	bottom: 0;
	top: 60px;
	right: 40px;
	left: 40px;
	background-color: #fff;		
	background-color: rgba(255,255,255,0.95);	
	z-index: 56000;

	display: none;

	&.popover-active {
		display: block;
	}

	header {
		padding: 10px 30px;
		font-size: 32px;
		border-bottom: solid 1px #ddd;

		.close-media-collection-popover {
			font-size: 24px;
			position: absolute;
			right: 15px;
			top: 15px;	   
			cursor: pointer;

			&:hover {
				opacity: 0.7;	
			}
		}
	}
}

