#layoutManager {
	.dd {
		max-width: inherit;
	}
	.dd-handle {
		padding: 10px;
		background-color: #fefefe;
	}
	.menuAlias {
		font-weight: 700;
	}
	.menuLink {
		font-style: italic;
		> span {
			color: #83ac22;
		}
	}
	.menuListControl {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -11px;
		span {
			// display: block;
			margin-left: 10px;
			color: #999;
			&:hover {
				color: #83ac22;
				cursor: pointer;
			}
		}
	}

	.line {
		margin-bottom: 20px;
	}
	h4 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: bold;
	}

	#editor {
		padding: 0;
	}



	.mce-panel {
		border: none;
	}
}