#treeMenu {
	vertical-align: top;
	border-right: solid 1px #ddd;

	.treeMenuHeader {
		padding: 8px;
		width: 100%;
		display: table;

		.pageFilterInput {
			display: table-cell;
			width: 97%;
		}

		.newPageBtnGrp {
			display: table-cell;

			button {
				border: 0;
			}

			.caret {
				margin-left: 3px;
			}
		}
	}

	.treeMenuBody.jstree {

		padding: 15px 0;

		.jstree-wholerow-hovered {
			background-image: none;
			background-color: #fcfcfc;
			border-top: solid 1px #eaeaea;
			border-bottom: solid 1px #eaeaea;
		}

		.jstree-wholerow-clicked {
			background-image: none;
			background-color: @panel-info-heading-bg;
			border-top: solid 1px @panel-info-border;
			border-bottom: solid 1px @panel-info-border;
		}

		.jstree-search {
			font-style: normal;
			color: inherit;
		}

		.jstree-ocl {
			margin: 0 -5px 0 5px;
		}
	}
}
