<style>
	.dl-menu.dl-animate-out-1 {
		animation: MenuAnimOut1 0.4s linear forwards;
	}

	@keyframes MenuAnimOut1 {
		50% {
			transform: translateZ(-250px) rotateY(30deg);
		}
		75% {
			transform: translateZ(-372.5px) rotateY(15deg);
			opacity: .5;
		}
		100% {
			transform: translateZ(-500px) rotateY(0deg);
			opacity: 0;
		}
	}

	.dl-menu.dl-animate-in-1 {
		animation: MenuAnimIn1 0.3s linear forwards;
	}

	@keyframes MenuAnimIn1 {
		0% {
			transform: translateZ(-500px) rotateY(0deg);
			opacity: 0;
		}
		20% {
			transform: translateZ(-250px) rotateY(30deg);
			opacity: 0.5;
		}
		100% {
			transform: translateZ(0px) rotateY(0deg);
			opacity: 1;
		}
	}
	
	html.admin-editor, body.admin-editor {
		overflow-x: hidden !important;
		overflow-y: hidden !important;
	}
	
	.editor-shortcode-wrapper {
		width: 500px;
		height: 400px;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	#dl-menu {
		width: 100%;
		max-width: 500px;
		height: 310px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	
	.dl-menuwrapper .dl-menu {
		margin: 0;
	}
	
	.editor-shortcode-breadcrumbs {
		padding: 9px 15px;
		height: 38px;
		border-bottom: solid 1px #aaa;
	}
	
	.editor-shortcode-preview {
		height: 50px;
		background: #fff;
		clear: both;
		font-size: 15px;
		padding: 12px 15px;
		border-top: solid 1px #ececec;
	}
	
	.editor-shortcode-preview:before {
		content: "To Insert: ";
		font-weight: bold;
		font-size: 13px;
		margin-right: 4px;
	}
	
</style>
<div class="editor-shortcode-wrapper">
	<div class="editor-shortcode-breadcrumbs">Shortcodes</div>
	<div id="dl-menu" class="dl-menuwrapper">
		<?php if(is_array($this->shortcodeItems) && count($this->shortcodeItems)): ?>
			<ul class="dl-menu">
				<?php
					foreach ($this->shortcodeItems as $sci) {
						$sci->output();
					}
				?>
			</ul>
		<?php else: ?>
			<p style="margin:20px;">No shortcodes available.</p>
		<?php endif; ?>
	</div>
	<div class="editor-shortcode-preview"></div>
</div>
