<header class="header b-b b-light bg-white editPageHeader">
	<div class="btn-group pull-right">
		<?php
			//if ($this->form->getCreatedDate()) {
				echo '<button class="btn btn-primary" id="savePublish">Update</button>';
			//} else {
			//	echo '<button class="btn btn-default" id="saveDraft">Save As Draft</button>';
			//	echo '<button class="btn btn-primary" id="savePublish">Publish</button>';						
			//}
		?>
	</div>
	<h1 class="pageTitle"><?php echo ($this->form->getLastModified()) ? 'Edit Static Page' : 'Add Static Page'; ?></h1>
</header>
<section class="scrollable editPageContent">
	<?php echo $this->form->render(); ?>
</section>

<script>
	var resource = {
		type: 'static-page',
		alias: 'Static Page',
		endpoint: '/ajax/api/static-pages/'
	};
</script>