<section class="scrollable padder">
	<div class="m-b-md">
		<div class="pull-right">
			<?php //echo $this->partial('partials/tableButtons.phtml', array('objectType' => 5)); ?>
		</div>
		<h3 class="m-b-none">All Static Pages</h3>
	</div>
	<section class="panel panel-default panel-full">
		<header class="panel-heading">
			 <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
		</header>
		<div class="table-responsive">
			<div class="hide" id="resourceType">static-pages</div>
			<table class="table table-striped m-b-none datatable" id="allForums">
				<thead>
					<tr class="theadFilters">
						<td></td>
						<td><input type="text" /></td>
						<td><input type="text" /></td>
						<td><input type="text" /></td>
						<td><input type="text" /></td>
						<td><input type="text" /></td>
					</tr>
					<tr class="tHeadings">
						<th width="4%" class="nosort"><input type="checkbox" /></th>
						<th width="36%">Name</th>
						<th width="15%" class="boolCol alignCenter">Published</th>
						<th width="15%" class="boolCol alignCenter">Active</th>
						<th width="15%" class="timestampCol alignCenter createdDateCol">Published On</th>
						<th width="15%" class="timestampCol alignCenter lastModifiedCol">Last Modified</th>					
					</tr>
				</thead>
				<tbody>
					<?php 
						foreach ($this->staticPages as $page) { /* @var $page Admin_Model_StaticPage */
							$row = '<tr data-id="' . $page->getId() . '">';
							$row .= '<td><input type="checkbox" data-id="' . $page->getId() . '" /></td>';
							$row .= '<td><a href="/admin/static-pages/edit?id=' . $page->getId() . '">' . $page->getHeading() . '</a></td>';
							$row .= '<td class="bool alignCenter">' . $page->getPublished() . '</td>';
							$row .= '<td class="bool alignCenter">' . $page->getActive() . '</td>';
							$row .= '<td class="alignCenter createdDateCell" data-timestamp="' . $page->getCreatedDate(true) . '">' . $page->getCreatedDate(true) * 1000 . '</td>';
							$row .= '<td class="alignCenter" data-timestamp="' . $page->getLastModifiedDate(true) . '">' . $page->getLastModifiedDate(true) * 1000 . '</td>';
							$row .= '</tr>';
							
							echo $row;
						}
					?>
				</tbody>
			</table>
		</div>
	</section>
	<div class="m-t-md">
		<div class="pull-right">
			<?php // echo $this->partial('partials/tableButtons.phtml', array('objectType' => 6)); ?>
		</div>
	</div>
</section>