<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<a class="btn btn-info newResourceBtn" href="/admin/redirects/edit"><i class="fa fa-plus-circle"></i>&nbsp; New Redirect</a>
			</div>
			<h3 class="m-b-none">Redirects</h3>
		</header>
		<section class="panel panel-default panel-full" id="allRedirects">
			<div class="table-responsive">
				<table class="table table-striped m-b-none datatable">
					<thead>
						<tr class="theadFilters">
							<td></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th width="7%" class="nosort"><input type="checkbox" /></th>
							<th width="40%">Url</th>
							<th width="40%" class="boolCol">Destination</th>
							<th width="12%" class="boolCol alignCenter">Type</th>
							<th width="7%" class="nosort editBtnsCell"></th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->redirects as $redirect) {
								$row = '<tr data-id="' . $redirect->getId() . '">';
								$row .= '<td><input type="checkbox" data-id="' . $redirect->getId() . '" /></td>';
								$row .= '<td><a href="/admin/redirects/edit/' . $redirect->getId() . '">' . $redirect->getUrl() . '</a></td>';

								$row .= '<td class="bool">' . $redirect->getDestination() . '</td>';
								$row .= '<td class="bool alignCenter">' . $redirect->getType() . '</td>';
								$row .= '<td class="bool alignCenter editBtnsCell"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/redirects/' . $redirect->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
</section>
<script>
	document.addEventListener("mmng:tablesReady", function() {
		var tbls = [];
		tbls.push(new mmng.Table("#allRedirects .datatable"));
	});
</script>