<section class="vbox">
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-plus-circle"></i>&nbsp; New Collection <span class="caret"></span>
					</button>
					<?php
						$class = Admin_Factory::getClass("Model_Collection");
						$available = $class::getAvailableEntities();
						$names = array_map(function ($entity) use ($class) {
							return $class::getEntityAlias($entity);
						}, $available);
						$options = array_combine($available, $names);
					?>
					<ul class="dropdown-menu" role="menu" style="left:auto; right:0;">
						<?php
							foreach ($options as $key => $val) {
								echo '<li><a href="/admin/collections/edit?entity=' . $key . '" data-target="/admin/collections/edit?entity=' . $key . '">' . $val . '</a></li>';
							}
						?>
					</ul>
				</div>  
			</div>
			<h3 class="m-b-none">Collections</h3>
		</header>
		<section class="panel panel-default panel-full">
			<div class="table-responsive">
				<table class="table table-striped m-b-none datatable" id="allForums">
					<thead>
						<tr class="theadFilters">
							<td><input type="text" /></td>
							<td><input type="text" /></td>
							<td></td>
						</tr>
						<tr>
							<th>Name</th>
							<th>Collection Type</th>
							<th width="7%" class="nosort"></th>
						</tr>
					</thead>
					<tbody>
						<?php
							foreach ($this->collections as $collection) {
								$row = '<tr data-id="' . $collection->getId() . '">';
								$row .= '<td><a href="/admin/collections/edit/' . $collection->getId() . '">' . $collection->getHeading() . '</a></td>';
								$row .= '<td>' . $class::getEntityAlias($collection->getEntityName()) . '</td>';
								$row .= '<td class="bool alignCenter"><i class="fa fa-times-circle deleteItem" data-endpoint="/ajax/api/collections/' . $collection->getId() . '"></i></td>';
								$row .= '</tr>';

								echo $row;
							}
						?>
					</tbody>
				</table>
			</div>
		</section>
	</section>
	<script>
		document.addEventListener("mmng:tablesReady", function() {
			var tbls = [];
			tbls.push(new mmng.Table(".datatable"));
		});
	</script>
</section>