<section class="vbox">
	<?php 
		if ($this->analytics):
			echo '<script>mmng.getCurrentPage().model.data = ' . json_encode($this->gaResults) . '</script>';
	?>
	<section class="scrollable padder">
		<header class="pageHeader">
			<div class="pull-right m-t-sm">
				<strong>Last: &nbsp;</strong>
				<div class="btn-group rangeBtns">
					<a class="btn btn-default range-week" href="/admin/analytics?range=week">Week</a>
					<a class="btn btn-default range-month" href="/admin/analytics?range=month">Month</a>
					<a class="btn btn-default range-year" href="/admin/analytics?range=year">Year</a>
				</div>
			</div>
			<h3 class="m-b-none">Analytics</h3>
		</header>
		<!-- 
		<header class="header b-b b-light bg-white editPageHeader">
			<div class="pull-right m-t-sm">
				<strong>Last: &nbsp;</strong>
				<div class="btn-group rangeBtns">
					<a class="btn btn-default range-week" href="/admin/analytics?range=week">Week</a>
					<a class="btn btn-default range-month" href="/admin/analytics?range=month">Month</a>
					<a class="btn btn-default range-year" href="/admin/analytics?range=year">Year</a>
				</div>
			</div>
			<h1 class="pageTitle">Analytics</h1>
		</header>
		 -->
		<section class="scrollable wrapper">
			<div class="row">
				<div class="col-sm-12">
					<section class="panel panel-default">
						<header class="panel-heading">
							<span class="font-bold">Visits</span>
						</header>
						<div class="panel-body">
							<div id="visitChartArea"></div>
						</div>
						<footer class="panel-footer bg-white">
							<div class="row text-center no-gutter">
								<div class="col-xs-6 b-r b-light">
									<p class="h3 m-t"><strong><?php echo $this->gaResults['visitTotal']; ?></strong> Visitors</p>
							</div>
							<div class="col-xs-6">
								<p class="h3 m-t"><strong><?php echo $this->gaResults['pageViews']; ?></strong> Page Views</p>
								</div>
							</div>
						</footer>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#pgPane" data-toggle="tab">Pages</a></li>
						<li><a href="#kwPane" data-toggle="tab">Keywords</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="pgPane">
							<section class="panel panel-default">
								<table class="table table-striped pageVisits">
									<thead><tr>
										<th>Website Pages</th>
										<th width="20%">Visits</th>
									</tr></thead>
									<tbody>
									</tbody>
								</table>
							</section>
						</div>
						<div class="tab-pane" id="kwPane">
							<section class="panel panel-default">
								<table class="table table-striped keywordVisits">
									<thead><tr>
										<th>Searched Keywords</th>
										<th width="20%"">Visits</th>
									</tr></thead>
									<tbody>
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<section class="panel panel-default">
						<header class="panel-heading font-bold">
							Traffic Sources
						</header>
						<div class="panel-body">
							<div id="srcChartArea"></div>
						</div>					
					</section>
				</div>

			</div>

		</section>
	</section>
		<?php 

			else:

				echo '<section class="scrollable wrapper">'
						. '<p>Analytics has not been enabled.</p>'
						. '</section>';

			endif;

		?>
</section>